:import('../../styles/theme.css') {
  --backgroundColor: backgroundColor;
  --greenColor: greenColor;
  --redColor: redColor;
  --lightColor: lightColor;
}

.list {
  overflow-x: auto;
  width: 100%;
  color: --textColor;
  font-size: 14px;
  border: 1.5px solid --backgroundColor;
  border-bottom: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li:nth-child(odd){
  background-color: --lightColor;
}

.listRow {
  display: table;
  width: 100%;
  border-bottom: 1px solid --backgroundColor;
}

.editCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  cursor: pointer;
}

.editCell:hover {
  color: --greenColor;
}

.valueCell {
  display: table-cell;
  vertical-align: middle;
}

.deleteCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  cursor: pointer;
}

.deleteCell:hover {
  color: --redColor;
}

.label {
  width: 100%;
  font-weight: bold;
  padding: 5px 8px 2px;
  border-bottom: 1px solid --backgroundColor;
}

.value {
  width: 100%;
  padding: 2px 8px 5px;
}

.cursor {
  cursor: pointer;
}