:import('../../styles/theme.css') {
  --primaryFont: primaryFont;
  --primaryColor: primaryColor;
  --secondaryColor: secondaryColor;
  --whiteColor: whiteColor;
  --backgroundColor: backgroundColor;
  --greenColor: greenColor;
  --focusColor: focusColor;
  --linkColor: linkColor;
  --redColor: redColor;
  --hoverColor: hoverColor;
  --lightColor: lightColor;
  --textColor: textColor;
  --lightBlack: lightBlack;
}

.label_info_left {
  padding: 2px 0px 0px 3px;
}

.label_icon_left {
  text-align: center;
}

.label_icon_right {
  text-align: right;
}

.centered {
  margin: auto;
}

select {
  font-family: --primaryFont;
  border-radius: 3px;
  border: 1px solid --backgroundColor;
  background: --whiteColor;
  color: --primaryColor;
  font-size: 13px;
  padding: 8px;
  opacity: 1;
}

select:disabled {
  opacity: 0.5;
}

input, textarea {
  font-family: --primaryFont;
  border-radius: 3px;
  border: 1px solid --backgroundColor;
  background: --whiteColor;
  color: --primaryColor;
  font-size: 14px;
  padding: 8px;
  display: block;
  opacity: 1;
}

textarea{
  overflow: auto;
}

input:disabled, textarea:disabled {
  opacity: 0.5;
}

input::placeholder, input::-ms-input-placeholder, textarea::placeholder, textarea::-ms-input-placeholder {
  opacity: 0.5;
};

option {
  font-family: --primaryFont;
  background-color: --whiteColor;
  color: --primaryColor;
  font-size: 14px;
}

option:disabled {
  opacity: 0.5;
}

.optionPlaceholder {
  color: --secondaryColor;
}

.fieldCell {
  width: 150px;
}

.toggleOn {
  color: --greenColor;
}

.toggleBorder {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid --backgroundColor;
  border-radius: 3px;
}

.toggleBorder:hover {
  border: 1px solid --focusColor;
}

.lnkBox {
  width: 100%;
  border: 1px solid --backgroundColor;
  border-radius: 3px;
  padding: 6px 8px 5px;
  vertical-align: middle;
  min-height: 35px;
}

.lnkBox:hover {
  border: 1px solid --focusColor;
}

.lnkText {
  font-family: --primaryFont;
  font-size: 14px;
  cursor: pointer;
  color: --linkColor;
}

.lnkText:hover {
  text-decoration: underline;
}

.toggleOff {
  color: --backgroundColor;
}

.toggleDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fieldvalueDelete {
  cursor: pointer;
}

.fieldvalueDelete:hover {
  color: --redColor;
}

.searchCol {
  width: 38px;
}

.timesCol {
  width: 34px;
}

.selectorButton {
  background-color: --lightColor!important;
  padding: 7px 8px;
}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.modal {
  padding-top: 30px!important;
}

.dialog {
  border-radius: 5px;
  border: 1px solid --lightBlack;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  margin: 0 auto;
  animation: animatezoom 0.6s;
  background: --whiteColor;
  width: 100%;
  max-width: 600px;
  min-width: 280px;
}

.labelRow {
  background-color: --lightColor;
}

.reportField {
  cursor: pointer;
}