:import('../../styles/theme.css') {
  --primaryFont: primaryFont;
  --whiteColor: whiteColor;
  --lightColor: lightColor;
  --primaryColor: primaryColor;
  --secondaryColor: secondaryColor;
  --backgroundColor: backgroundColor;
  --focusColor: focusColor;
  --hoverColor: hoverColor;
  --topMenuHeight: topMenuHeight;
  --sideMenuWidth: sideMenuWidth;
  --textColor: textColor;
}

.main {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modal {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  overflow: auto;
  background-color: #0000009f;
  padding: 10px 5px;
}

.input-box {
  cursor: default!important;
  margin-top: 40px;
}

.page {
  transition: margin-left .4s;
  margin-top: --topMenuHeight;
  margin-left: --sideMenuWidth;
}

.panel {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 4px;
  background-color: --lightColor;
}

.panel-title {
  color: --whiteColor;
  background-color: --primaryColor;
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 16px;
}

/*.card-4 { box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); }*/

@media (max-width:768px){
  .page{
    margin-left: 0px;
  }
}

.primary {
  background-color: --primaryColor;
}

.primary:hover {
  color: --hoverColor;
}

.primary:focus {
  color: --focusColor;
}

.border {
  border: 1px solid --backgroundColor;
}

.border-bottom {
  border-bottom: 1px solid --backgroundColor;
}

.border-button {
  background: none;
  border: 2px solid --backgroundColor;
  color: --textColor;
}

.border-button:hover {
  background: none;
  border-color: --hoverColor;
}

.small-button {
  font-size: 12px;
  padding: 6px 8px;
}

button:focus {
  background-color: --primaryColor;
  color: --focusColor;
}

button {
  font-family: --primaryFont;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: --whiteColor;
  background-color: --secondaryColor;
  text-align: center;
  cursor:pointer;
  white-space:nowrap;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border-image: linear-gradient(to right,--primaryColor,--secondaryColor) 1 stretch;
  border: 0px solid --secondaryColor;
  border-radius: 3px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
  color: --hoverColor;
  background: --primaryColor;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}

button:disabled:hover {
  box-shadow:none;
};

