.pagify-pagination {
  text-align: left;
  margin: 12px 0px 12px;
  padding: 0;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.pagify-pagination span {
  font-weight: bold;
  padding: 7px;
  margin: 0 7px 0 0;
}
.pagify-pagination span:hover {
  color: var(--warning);
}
.pagify-pagination .selected span {
  color: var(--light);
  background-color: var(--primary);
  font-weight: bold;
  border-radius: 2px;
}