:import('../../styles/theme.css') {
  --whiteColor: whiteColor;
  --primaryColor: primaryColor;
  --secondaryColor: secondaryColor;
  --hoverColor: hoverColor;
  --backgroundColor: backgroundColor;
}

.pagify-pagination {
  text-align: left;
  margin: 12px 0px 12px;
  padding: 0;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.pagify-pagination span {
  background: --backgroundColor;
  color: --primaryColor;
  font-weight: bold;
  padding: 7px;
  margin: 0 7px 0 0;
}
.pagify-pagination span:hover {
  color: --hoverColor;
}
.pagify-pagination .selected span {
  color: --whiteColor;
  background: --primaryColor;
  font-weight: bold;
  border-radius: 2px;
}