.formPanel {
  width: 100%;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}

.viewPanel {
  width: 100%;
}

.badge {
  font-weight: bold;
  font-size: 14px;
  color: rgba(var(--primary-rgb),0.85);
  background-color: var(--light);
  display: inline-block;
  padding: 1px 6px 1px 5px;
  text-align: center;
  border-radius: 50%;
}

.tabButton {
  border-radius: 0px;
  margin-top: 2px;
}

.paginatorCell {
  padding-left: 8px;
}

.addButton {
  padding: 6px 16px;
}

.editCol {
  cursor: pointer;
}

.deleteCol {
  cursor: pointer;
  margin-left: 8px;
}

.editCol:hover {
  color: var(--success);
}

.deleteCol:hover {
  color: var(--danger);
}

.totalLabel {
  font-size: 13px;
  white-space: nowrap;
  font-weight: bold;
}

.totalValue {
  font-size: 13px;
  white-space: nowrap;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 3px;
  margin-left: 8px;
}

.rtfEditor {
  padding: 8px;
  width: 100%;
  min-height: 65px;
}

.barButton {
  border-radius: 0px;
  margin-left: -0.7px;
}

.barButton:focus {
  outline: none;
}

.activeStyle {
  background-color: var(--info);
}

.itemTitle {
  font-weight: bold;
}

.itemTitlePre {
  font-weight: bold;
  padding-right: 6px;
  opacity: 0.5;
}

.closeIcon {
  cursor: pointer;
}

.closeIcon:hover {
  color: var(--danger);
}

.pdfPage {
  position: relative;
  margin: auto;
  padding: 0;
  overflow: visible;
  background-clip: content-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.54);
}